@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("./reset.css");

:root{
    --backgroundPrimary: #227C9D;
    --backgroundSecondary: #FFCF57;
    --backgroundLight: #F4F3EE;
    --backgroundDark: #FF7757;
    --shadowSecondary: #d9b353;
    --shadowDark: #d76c52;
    --shadowLight: #dddaca;

    --textPrimary: #000000;
    --textSecondary: #F4F3EE;
    --fontFamily: 'Roboto';
    --weight: 700;
}

body{
    font-family: var(--fontFamily);
    min-height: 100vh;
}
